*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;   
    margin: 0px;
}

nav{
    margin-top: 20px;
    padding-bottom: 120px;
}

ul{
    float: right;
    margin-right: 5%;
}

li{
    list-style-type: none;
    display: inline;
    padding: 30px 20px;
    color: #3c3c3c;
    font-weight: bold;
}

section{
    height: 500px;
    margin: 0 80px;
}

h1{
    font-family: 'Bebas Neue', cursive;   
    color: #363958;   
}

#top h1{
    font-size: 80px;
    line-height: 25%;
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    color: #363958;
}

h3{
    font-size: 24px;
    color: #363958;
}

p{
    margin-bottom: 50px;
    color: #3E3E3E;
}

img{
    width: 100%;
}

.half{
    float: left;
    width: 50%;
    padding-left: 3%;
}

.text-highlighter{
    color: #F46060;
}

.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#F46060, #FF8063);
    padding: 15px 40px;
    border-radius: 6px;
}

#recover{
    height: 250px;
}

#last{
    margin-left: 0px;
    margin-right: 0px;
    background-color: #F8F9FC;
    height: 800px;
}

#last h2{
    padding-top: 80px;
    text-align: center;
}

.box{
    float: left;
    width: 30%;
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
}

.box p{
    color: #6C6C6C;;
}

#space{
    padding: 0px 100px;
}

#work-inquiry{
    margin-top: 80px;
    margin-left: 20%;
    width: 60%;
    height: 250px;
    margin-bottom: 200px;
    border-radius: 30px;
    background-image: url("images/img7.png");
    background-position: 0%;
    margin-bottom: 80px;
}

#work-inquiry h1{
    font-size: 64px;
    margin: 0;
    margin-top: 83px;
    margin-left: 80px;
    display: inline-block;
    color: white;
}

#work-inquiry .button{
    float: right;
    margin-top: 98px;
    margin-right: 80px;

}

#massage-area{
    margin: 0;
    height: 300px;
    background-color: #F8F9FC;
}

#massage-area h3{
    padding-top: 50px;
    margin-left: 200px;
    font-size: 30px;
}

input{
    width: 30%;
    padding: 10px 20px;
    margin-left: 200px;
    display: block;
    border-radius: 5px;
}

textarea{
    padding: 10px 20px;
    width: 30%;
    margin-left: 200px;
    border-radius: 5px;
}

footer{
    text-align: center;
}

footer p{
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: #696871;
    margin-bottom: 10px;
}

footer h3{
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

#footer-image{
    height: 100px;
    margin-left: 42%;
    margin-right: 42%;
}


footer .box{
    float: left;
    width: 33%;
    background-color: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}

#footer-image img{
    width: 45%;
}